body {
    padding: 0;
    margin: 0;
}

#tic-tac-toe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100%;
    width: 250px;
}

.logo{
    display: block;
    text-align: center;
}



/* !!! STATS START !!! */
.stats {
    position: relative;
    height: 100px;
}

.x-won {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    border: 2px solid #CCCCCC;
    border-radius: 15px;
}

.o-won {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 230px;
    border: 2px solid #CCCCCC;
    border-radius: 15px;
}

.x-sign {
    float: left;
    border-right: 2px solid #CCCCCC;
    background-color: #EEEEEE;
    border-radius: 13px 0 0 13px;
}

.x-times {
    float: right;
    border-left: 2px solid #CCCCCC;
    background-color: #EEEEEE;
    border-radius: 0 13px 13px 0;
}

.o-sign {
    float: left;
    border-right: 2px solid #CCCCCC;
    background-color: #EEEEEE;
    border-radius: 13px 0 0 13px;
}

.o-times {
    float: right;
    border-left: 2px solid #CCCCCC;
    background-color: #EEEEEE;
    border-radius: 0 13px 13px 0;
}

#x-stat {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70px;
    font-weight: bold;
}

#o-stat {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70px;
    font-weight: bold;
}
/* !!! STATS END !!! */



/* !!! GAME START !!! */
.game {
    display: block;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
}

.field {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.first {
    display: inline-block;
    width: 250px;
}

.second {
    display: inline-block;
    width: 250px;
}

.third {
    display: inline-block;
    width: 250px;
}

#first-line {
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
    width: 62px;
    height: 62px;
    border: 1px solid #5C5C5C;
    border-radius: 6px;
    background: linear-gradient(white, #ACACAC);
    cursor: pointer;
}

#second-line {
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 24px;
    width: 62px;
    height: 62px;
    border: 1px solid #5C5C5C;
    border-radius: 6px;
    background: linear-gradient(white, #ACACAC);
    cursor: pointer;
}

#third-line {
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 24px;
    width: 62px;
    height: 62px;
    border: 1px solid #5C5C5C;
    border-radius: 6px;
    background: linear-gradient(white, #ACACAC);
    box-shadow: 3px;
    cursor: pointer;
}

#first-line:hover {
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
    width: 62px;
    height: 62px;
    border: 1px solid #5C5C5C;
    border-radius: 6px;
    background: linear-gradient(#ACACAC, white);
    cursor: pointer;
}

#second-line:hover {
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
    width: 62px;
    height: 62px;
    border: 1px solid #5C5C5C;
    border-radius: 6px;
    background: linear-gradient(#ACACAC, white);
    cursor: pointer;
}

#third-line:hover {
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
    width: 62px;
    height: 62px;
    border: 1px solid #5C5C5C;
    border-radius: 6px;
    background: linear-gradient(#ACACAC, white);
    cursor: pointer;
}

.cell-sign1 {
    padding-top: 2px;
    font-size: 50px;
    opacity: 0.3;
}

.cell-sign2 {
    padding-top: 2px;
    font-size: 50px;
    opacity: 0.3;
}

.cell-sign3 {
    padding-top: 2px;
    font-size: 50px;
    opacity: 0.3;
}

.cell-sign4 {
    padding-top: 2px;
    font-size: 50px;
    opacity: 0.3;
}

.cell-sign5 {
    padding-top: 2px;
    font-size: 50px;
    opacity: 0.3;
}

.cell-sign6 {
    padding-top: 2px;
    font-size: 50px;
    opacity: 0.3;
}

.cell-sign7 {
    padding-top: 2px;
    font-size: 50px;
    opacity: 0.3;
}

.cell-sign8 {
    padding-top: 2px;
    font-size: 50px;
    opacity: 0.3;
}

.cell-sign9 {
    padding-top: 2px;
    font-size: 50px;
    opacity: 0.3;
}

#restart {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11px;
    width: 232px;
    height: 25px;
    border: 1px solid #54AA54;
    background: linear-gradient(#7ADA7A, #51A451);
    cursor: pointer;
}

#restart:hover {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11px;
    width: 232px;
    height: 25px;
    border: 1px solid #54AA54;
    background: linear-gradient(#51A451, #7ADA7A);
    cursor: pointer;
}

.restart-text {
    color: white;
    font-size: 23px;
    letter-spacing: 5px;
}
/* !!! GAME END !!! */

/* CELLS ACTIVE STYLES START*/
.x-sign-cell {
    padding-top: 2px;
    font-size: 50px;
    color: white;
    width: 62px;
    height: 60px;
    border-radius: 5px;
    background: linear-gradient(#FFA0A4, #FF5546);
}

.o-sign-cell {
    padding-top: 2px;
    font-size: 50px;
    color: white;
    width: 62px;
    height: 60px;
    border-radius: 5px;
    background: linear-gradient(#ACBDFF, #464FFF);
}

/* CELLS ACTIVE STYLES END*/
